body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.parallax {
  background-image: url('https://t3.ftcdn.net/jpg/01/19/41/24/360_F_119412445_fFHCOumahexuL1TGzStDkuNZ88OeFkvl.jpg'); 
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .content {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  label {
    font-size: 1.2em;
  }
  
  input {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #00bfff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007acc;
  }
  
  #resultado {
    margin-top: 20px;
    font-size: 1.5em;
  }
  